{% extends "news/textBased.html" %}
{% load staticfiles %}

{% block subtitle %}
    About Us
{% endblock %}


{% block mainSection %}
<h3><u>Quality</u></h3>
<p>
    At J&S Web Designs we love doing what we do, and it shines through in our designs. 
    Our goal is to create quality websites for less. Let us design and create a website that suits your needs without breaking your budget. 
    Quality is defined by you, not us. If you’re unhappy with your website we will work with you to revise it. Our websites are clean. 
    No typos. No broken links. 
    No funny errors that make a website look unprofessional.
</p>

<h3><u>Personable</h3></u>
<p>
    Because we are such a small business we guarantee you face to face interaction with quick results. 
    The designer who meets with you will be the same one all throughout the project. 
    This way they understand your vision. <br> 
    Each website is personalized for you. 
    You will work with a designer who will help you create your vision for your business. 
    The designer will help you with color schemes and walk you through your choices. 
    Want photos on your websites? 
    If you don’t have decent photo’s our designs will take photos for you. 
    Need a graphic? Our designer will create one. 
</p>

<h3><u>Local</u></h3>
J&S Web Designs is a small business located in Topeka, Kansas <br>
Locally owned, we believe in local business and strive to improve your revenue by creating a website that’s right for you. Because we are located right here in Topeka we are easily accessible to our clients. <br>

Topeka residents made your business what it is today. Now we’re asking you to give back to Topeka by supporting another local business. By choosing J&S Web Designs and strengthening the Topekan community you’re strengthening the economy, which in turn helps your business. 
Since we are such a small business that means less bureaucracy, which means quicker results for our clients. We aren’t waiting around for paperwork to be filed instead we’re working hard on your website. 

<h3><u>Ownership </u></h3>
If for any reason you decide to end your relationship with J&S Web Designs don’t worry about your website. All of the content on your website is owned by you. You own the designs, graphics, photos, and code. If you choose to later work with another programmer they can pick up where we left off. 




{% endblock %}
